@import "base";
@import "page";
@import "pri-nav";



.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navigation {

  background: #eee;
  position: absolute;
  top: 0;
  bottom: 0;

  width: $pri-nav-width;


  z-index: 0;
  
  .content{
    width: 100%;
    top: 0;
    bottom: 0;
    margin-top: $title-bar-height;
    position: absolute;
  }

  @include respond-to(landscape) {

  }

  @include respond-to(portrait) {
    z-index: 1;
    display: none;
    top: 50px;
    bottom: 50px;
    left: 10px;


    &.active{
      display: block;
      @include box-shadow(0 0 10px 5px rgba(#000,.2));
    }
  }

  @include topbar;

}

.main {

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);


  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  @include box-shadow(0 0 10px 5px rgba(#000,.2));

  @include transition-property(margin-left);
  @include transition-duration($animTime);
  @include transition-timing-function(ease-out);

  >.content{

    background: #fff;
    height: 100%;
  }

  @include respond-to(landscape) {

    &.minimized{
      margin-left: $pri-nav-width;
    }
  }

  @include respond-to(portrait) {
    margin-left:0;
  }

  @include topbar;
}



