@import "base";
@import "page";
@import "pri-nav";



.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}



.navigation {

  background: #eee;
  position: fixed;
  top: 0;
  bottom: 0;

  width: $pri-nav-width;
  //z-index: 10;
  
  .content{
    height: 100%;
  }

  @include respond-to(landscape) {

  }

  @include respond-to(portrait) {

    &.active{

    }
  }

  @include topbar;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events:none;
    @include box-shadow(-5px 0 10px -5px rgba(#000,1) inset);
  }
}

.main {

  //-webkit-perspective: 1000;
  //-webkit-backface-visibility: hidden;
  //-webkit-transform-style: preserve-3d;
  //visibility:visible;



  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;



  //@include transition-property(translate3d);
  //@include transition-duration($animTime);
  //@include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940));
  //
  //-webkit-transform: translate3d(0,0,0);

  @include transition(-webkit-transform cubic-bezier(0.250, 0.460, 0.450, 0.940) $animTime);


  >.content{
    //overflow: hidden;
    background: #fff;
    height: 100%;
  }



  @include respond-to(landscape) {

    .page{
      //width: 1024px;
    }

    &.minimized{
      //margin-left: $pri-nav-width;
      -webkit-transform: translate3d($pri-nav-width,0,0);
    }
  }

  @include respond-to(portrait) {

    .page{
      //width: 768px;
    }



    &.minimized{
      //margin-left: $pri-nav-width;
      -webkit-transform: translate3d($pri-nav-width,0,0);
    }

  }

  @include topbar;
}

.noanimate {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

