/* line 45, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
}
/* line 56, ../sass/base.scss */
html a:hover, body a:hover {
  text-decoration: none;
}
/* line 59, ../sass/base.scss */
html a:focus, body a:focus {
  text-decoration: none;
}
/* line 62, ../sass/base.scss */
html a:active, body a:active {
  text-decoration: none;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* line 135, ../sass/base.scss */
.toggle-view-btn {
  height: 30px;
  padding: 7px;
}
/* line 143, ../sass/base.scss */
.toggle-view-btn .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* line 159, ../sass/base.scss */
.ref {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}

/* line 6, ../sass/page.scss */
.page {
  background: #fff;
  width: 100%;
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
/* line 32, ../sass/page.scss */
.page.page-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}
/* line 36, ../sass/page.scss */
.page.page-enter.page-enter-active {
  -webkit-transform: translate3d(1, 0, 0);
}
/* line 40, ../sass/page.scss */
.page.page-leave {
  -webkit-transform: translate3d(1, 0, 0);
}
/* line 44, ../sass/page.scss */
.page.page-leave.page-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}
/* line 49, ../sass/page.scss */
.page > .inner {
  padding: 20px;
}
/* line 56, ../sass/page.scss */
.page .title {
  height: 70px;
  border-bottom: 1px solid #ddd;
}
/* line 62, ../sass/page.scss */
.page .title img {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 69, ../sass/page.scss */
.page .content {
  padding: 25px;
}
/* line 74, ../sass/page.scss */
.page .content img {
  margin-right: 100px;
}
/* line 79, ../sass/page.scss */
.page section {
  margin-bottom: 50px;
  padding-top: 25px;
}
/* line 84, ../sass/page.scss */
.page .group {
  padding: 5px 25px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 91, ../sass/page.scss */
.page .model {
  background-color: rgba(241, 196, 15, 0.1);
  border: rgba(241, 196, 15, 0.2) solid 1px;
}
/* line 94, ../sass/page.scss */
.page .model h2 {
  color: rgba(243, 156, 18, 0.5);
}
/* line 97, ../sass/page.scss */
.page .model h3, .page .model h4 {
  color: #f39c12;
}
/* line 102, ../sass/page.scss */
.page .view {
  background-color: rgba(52, 152, 219, 0.1);
  border: rgba(52, 152, 219, 0.2) solid 1px;
}
/* line 105, ../sass/page.scss */
.page .view h2 {
  color: rgba(41, 128, 185, 0.5);
}
/* line 108, ../sass/page.scss */
.page .view h3, .page .view h4 {
  color: #2980b9;
}
/* line 113, ../sass/page.scss */
.page .controller {
  background-color: rgba(26, 188, 156, 0.1);
  border: rgba(26, 188, 156, 0.2) solid 1px;
}
/* line 116, ../sass/page.scss */
.page .controller h2 {
  color: rgba(22, 160, 133, 0.5);
}
/* line 119, ../sass/page.scss */
.page .controller h3, .page .controller h4 {
  color: #16a085;
}
/* line 124, ../sass/page.scss */
.page .me {
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(26, 188, 156, 0.1);
  color: #16a085;
}
/* line 131, ../sass/page.scss */
.page .todo {
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(231, 76, 60, 0.1);
  color: #c0392b;
}
/* line 138, ../sass/page.scss */
.page h1 {
  margin: 0;
  padding: 12px 25px;
  color: #000000;
}
/* line 144, ../sass/page.scss */
.page h2 {
  margin-bottom: 0;
}
/* line 148, ../sass/page.scss */
.page h2, .page h3, .page h4 {
  color: #000;
}
/* line 152, ../sass/page.scss */
.page p, .page li {
  color: #777;
}
/* line 156, ../sass/page.scss */
.page .breath {
  margin: 30px 0;
}
/* line 161, ../sass/page.scss */
.page ul a {
  margin-bottom: 0;
}
/* line 167, ../sass/page.scss */
.page table td, .page table th {
  text-align: center;
}
/* line 174, ../sass/page.scss */
.page .possi .text-left {
  text-align: left;
}
/* line 178, ../sass/page.scss */
.page .possi a {
  margin-bottom: 0;
  display: inline;
}
/* line 184, ../sass/page.scss */
.page blockquote {
  border-color: #3498db;
  margin: 30px 0;
}

/* line 2, ../sass/pri-nav.scss */
.nav-wrap {
  height: 100%;
}

/* line 6, ../sass/pri-nav.scss */
.nav {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 0;
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}
/* line 22, ../sass/pri-nav.scss */
.nav ul {
  list-style: none;
  margin: 0;
}
/* line 27, ../sass/pri-nav.scss */
.nav li {
  cursor: hand;
  cursor: pointer;
}
/* line 31, ../sass/pri-nav.scss */
.nav .divider {
  border-top: 1px solid #333;
}
/* line 35, ../sass/pri-nav.scss */
.nav a {
  display: block;
  color: #7f8c8d;
  padding: 15px 25px;
}
/* line 41, ../sass/pri-nav.scss */
.nav a:hover {
  background: rgba(52, 73, 94, 0.02);
}
/* line 45, ../sass/pri-nav.scss */
.nav a.active {
  background: #34495e;
  color: #ffffff;
  text-shadow: black 0 1px 0;
}

/* line 57, ../sass/pri-nav.scss */
.pri-nav {
  width: 200px;
}
/* line 63, ../sass/pri-nav.scss */
.pri-nav .brand {
  display: none;
}
/* line 65, ../sass/pri-nav.scss */
.pri-nav .brand a {
  color: #fff;
  font-size: 15px;
}
/* line 71, ../sass/pri-nav.scss */
.pri-nav .divider {
  border-top: 0;
}
/* line 76, ../sass/pri-nav.scss */
.pri-nav ul {
  margin: 0;
}
/* line 81, ../sass/pri-nav.scss */
.pri-nav li {
  text-shadow: white 0 1px 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

/* line 7, ../sass/screen.scss */
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 15, ../sass/screen.scss */
.navigation {
  background: #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
}
/* line 25, ../sass/screen.scss */
.navigation .content {
  height: 100%;
}
/* line 95, ../sass/base.scss */
.navigation > header {
  height: 40px;
  position: absolute;
  width: 100%;
  background: #2c3e50;
}
/* line 104, ../sass/base.scss */
.navigation > header .inner {
  padding: 3px;
}
/* line 109, ../sass/base.scss */
.navigation > header h1 {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
  margin: 0;
}
/* line 118, ../sass/base.scss */
.navigation > header:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}
/* line 42, ../sass/screen.scss */
.navigation:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-box-shadow: -5px 0 10px -5px black inset;
  -moz-box-shadow: -5px 0 10px -5px black inset;
  box-shadow: -5px 0 10px -5px black inset;
}

/* line 54, ../sass/screen.scss */
.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
/* line 81, ../sass/screen.scss */
.main > .content {
  background: #fff;
  height: 100%;
}
@media only screen and (orientation: landscape) {
  /* line 95, ../sass/screen.scss */
  .main.minimized {
    -webkit-transform: translate3d(200px, 0, 0);
  }
}
@media only screen and (orientation: portrait) {
  /* line 109, ../sass/screen.scss */
  .main.minimized {
    -webkit-transform: translate3d(200px, 0, 0);
  }
}
/* line 95, ../sass/base.scss */
.main > header {
  height: 40px;
  position: absolute;
  width: 100%;
  background: #2c3e50;
}
/* line 104, ../sass/base.scss */
.main > header .inner {
  padding: 3px;
}
/* line 109, ../sass/base.scss */
.main > header h1 {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
  margin: 0;
}
/* line 118, ../sass/base.scss */
.main > header:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  left: 2px;
  right: 2px;
  top: 2px;
  height: 18px;
  pointer-events: none;
}

/* line 119, ../sass/screen.scss */
.noanimate {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
