/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* line 36, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #808080;
}

/* line 45, ../sass/screen.scss */
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 51, ../sass/screen.scss */
.navigation {
  background: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 280px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 0;
}
/* line 66, ../sass/screen.scss */
.navigation .content {
  width: 100%;
  top: 0;
  bottom: 0;
  margin-top: 40px;
  position: absolute;
}
@media only screen and (orientation: portrait) {
  /* line 51, ../sass/screen.scss */
  .navigation {
    z-index: 1;
    display: none;
    top: 50px;
    bottom: 50px;
    left: 10px;
  }
  /* line 86, ../sass/screen.scss */
  .navigation.active {
    display: block;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
}
/* line 92, ../sass/screen.scss */
.navigation header {
  height: 40px;
  position: absolute;
  width: 100%;
  border-top: 1px solid #CDD5DF;
  border-bottom: 1px solid #2d3642;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
}
/* line 100, ../sass/screen.scss */
.navigation header .inner {
  padding: 3px;
}
/* line 104, ../sass/screen.scss */
.navigation header h1 {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
  margin: 0;
}

/* line 114, ../sass/screen.scss */
.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -ms-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 129, ../sass/screen.scss */
.main .content {
  background: #fff;
  height: 100%;
}
@media only screen and (orientation: landscape) {
  /* line 138, ../sass/screen.scss */
  .main.minimized {
    margin-left: 280px;
  }
}
@media only screen and (orientation: portrait) {
  /* line 114, ../sass/screen.scss */
  .main {
    margin-left: 0;
  }
}
/* line 147, ../sass/screen.scss */
.main header {
  height: 40px;
  position: relative;
  width: 100%;
  border-top: 1px solid #CDD5DF;
  border-bottom: 1px solid #2d3642;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2));
}
/* line 155, ../sass/screen.scss */
.main header h1 {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
  margin: 0;
}
/* line 163, ../sass/screen.scss */
.main header .inner {
  padding: 3px;
}

/* line 171, ../sass/screen.scss */
.toggle-view-btn {
  height: 30px;
  padding: 7px;
}
/* line 175, ../sass/screen.scss */
.toggle-view-btn.active {
  background: red;
}
/* line 179, ../sass/screen.scss */
.toggle-view-btn .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
