<div class="page" page>
<div class="title">
    <h1>Deployments</h1>
</div>
<div class="content">

<section id="Objective">
    <h3>Objective</h3>

    <p>Illustrate different ways of providing user experience on the mobile platform.</p>
</section>

<section id="cordova">
    <h2>Cordova (native packaging)</h2>
    <a href="http://cordova.apache.org/" target="_blank">http://cordova.apache.org</a>

    <blockquote><p> Apache Cordova is a platform
        for building native mobile
        applications using HTML, CSS
        and JavaScript.</p>
    </blockquote>

    <p class="me">Cordova is a the most popular mobile app packaging solution, most mobile frameworks have integrate
        Cordova at some point to provide there own package routine. It's an
        Apache project, it's open source and has some Adobe backing. It enables deep integration with the mobile OS for
        Hybrids apps.</p>

    <h3>Feature List</h3>
    <ul>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_accelerometer_accelerometer.md.html#Accelerometer">Accelerometer</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_camera_camera.md.html#Camera">Camera</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_media_capture_capture.md.html#Capture">Capture</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_compass_compass.md.html#Compass">Compass</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_connection_connection.md.html#Connection">Connection</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_contacts_contacts.md.html#Contacts">Contacts</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_device_device.md.html#Device">Device</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_events_events.md.html#Events">Events</a>
        </li>
        <li><a target="_blank" href="http://cordova.apache.org/docs/en/2.6.0/cordova_file_file.md.html#File">File</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_geolocation_geolocation.md.html#Geolocation">Geolocation</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_globalization_globalization.md.html#Globalization">Globalization</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_inappbrowser_inappbrowser.md.html#InAppBrowser">InAppBrowser</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_media_media.md.html#Media">Media</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_notification_notification.md.html#Notification">Notification</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_splashscreen_splashscreen.md.html#Splashscreen">Splashscreen</a>
        </li>
        <li><a target="_blank"
               href="http://cordova.apache.org/docs/en/2.6.0/cordova_storage_storage.md.html#Storage">Storage</a>
        </li>
    </ul>
</section>

<section id="web">
    <h2>Mobile Web App (browser based)</h2>
    <a href="http://mobithinking.com/blog/what-is-a-web-app" target="_blank">http://mobithinking.com/blog/what-is-a-web-app</a>

    <p class="me breath">You don't necessarily need a native install, sometime a web app will suffice. I will try to layout
        the limitations and possibilities that this method provides ei: <a href="https://touch.www.linkedin.com/login.html" target="_blank">touch.www.linkedin.com</a></p>




    <table class="table table-bordered table-striped possi">
        <thead>
        <tr>
            <th class="text-left">Features</th>
            <th>IOS</th>
            <th>Android</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-left">Accelerometer & Gyroscope</th>
            <th><i class="icon-ok"/><a href="http://www.mobilexweb.com/blog/safari-ios-accelerometer-websockets-html5"
                                       target="_blank"> 4.2+</a></th>
            <th><i class="icon-remove"/></th>
        </tr>
        <tr>
            <th class="text-left">Camera</th>
            <th><i class="icon-ok"/><a href="http://www.apple.com/ios/whats-new/#safari" target="_blank"> 6+</a></th>
            <th><i class="icon-ok"/><a href="http://www.android.com/about/jelly-bean/" target="_blank"> 4.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Capture</th>
            <th><i class="icon-ok"/><a href="http://www.apple.com/ios/whats-new/#safari" target="_blank"> 6+</a></th>
            <th><i class="icon-ok"/><a href="http://www.android.com/about/jelly-bean/" target="_blank"> 4.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Compass</th>
            <th><i class="icon-ok"/><a href="http://www.mobilexweb.com/blog/ios-5-iphone-and-ipad-html5"
                                       target="_blank">6+</a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Connection</th>
            <th><i class="icon-ok"/><a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/window.navigator.onLine?redirectlocale=en-US&redirectslug=DOM%2Fwindow.navigator.onLine"
                    target="_blank">5+</a></th>
            <th><i class="icon-ok"/><a
                    href="https://developer.mozilla.org/en-US/docs/Web/API/window.navigator.onLine?redirectlocale=en-US&redirectslug=DOM%2Fwindow.navigator.onLine"
                    target="_blank">2.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Contacts</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Device</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Events</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">File</th>
            <th><i class="icon-ok"/><a href="http://www.html5rocks.com/en/features/file_access" target="_blank">6+</a>
            </th>
            <th><i class="icon-ok"/><a href="http://www.html5rocks.com/en/features/file_access" target="_blank">3+</a>
            </th>
        </tr>
        <tr>
            <th class="text-left">Geolocation</th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=geoloc" target="_blank">3.2+</a></th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=geoloc" target="_blank">2.1+</a></th>
        </tr>
        <tr>
            <th class="text-left">Globalization</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Media</th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=media" target="_blank">6+</a></th>
            <th><i class="icon-ok"/><a href="http://caniuse.com/#search=media" target="_blank">4.2+</a></th>
        </tr>
        <tr>
            <th class="text-left">Notification</th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
            <th><i class="icon-remove"/><a href="" target="_blank"></a></th>
        </tr>
        <tr>
            <th class="text-left">Storage</th>
            <th><i class="icon-ok"/><a href="" target="_blank">6+</a></th>
            <th><i class="icon-ok"/><a href="" target="_blank">4.2+</a></th>
        </tr>
        </tbody>
    </table>

    <h3>Storage</h3>
    <a href="http://www.html5rocks.com/en/features/storage">http://www.html5rocks.com/en/features/storage</a>
    <a href="http://blog.teamtreehouse.com/storing-data-on-the-client-with-localstorage">http://blog.teamtreehouse.com/storing-data-on-the-client-with-localstorage</a>


    <blockquote>
        <p>When web developers think of storing anything about the user, they immediately think of uploading to
        the server. HTML5 changes that, as there are now several technologies allowing the app to save data on the
        client device. It might also be sync'd back to the server, or it might only ever stay on the client: that's down
        to you, the developer.</p>
    </blockquote>
    <h4>Options</h4>
    <ul>
        <li><a href="http://brian.io/lawnchair/" target="_blank">Lawnchair</a></li>
        <li><a href="https://github.com/zefhemel/persistencejs">Persistencejs</a></li>
        <li><a href="https://github.com/jeremydurham/persist-js">PersistJS</a></li>
        <li><a href="http://amplifyjs.com/api/store/" target="_blank">Amplify Store</a></li>
        <li><a href="https://github.com/knadh/localStorageDB" target="_blank">Local Storage DB</a></li>
        <li><a href="https://github.com/axemclion/IndexedDB" target="_blank">Indexed DB</a></li>
        <li><a href="http://yuiblog.com/sandbox/yui/3.2.0pr1/examples/cache/cache_offline.html" target="_blank">YUI3 CacheOffline</a></li>
        <li><a href="http://dojotoolkit.org/reference-guide/1.9/dojox/storage.html" target="_blank">Dojox Storage</a></li>
        <li><a href="https://code.google.com/p/dom-storage-query-language/" target="_blank">DomSQL</a></li>
        <li><a href="http://impel.simulacre.org/api/Impel.inTouch" target="_blank">Impel</a></li>
        <li><a href="http://www.activejs.org/activerecord/index.html" target="_blank"> ActiveJS ActiveRecord</a></li>
        <li><a href="http://www.jazzrecord.org/" target="_blank">JazzRecord</a></li>
        <li><a href="http://picnet.github.io/picnet_closure_repo/demos/picnet.data.DataManager.html" target="_blank">Picnet Data.DataManager</a></li>
        <li><a href="https://github.com/pamelafox/lscache" target="_blank">LS Cache</a></li>
        <li><a href="https://github.com/ded/Kizzy" target="_blank">Kizzy</a></li>
        <li><a href="https://github.com/k33g/artemia" target="_blank">Artemia</a></li>
        <li><a href="http://notes.jetienne.com/2011/09/05/microcache.js.html" target="_blank">Microcache JS</a></li>
        <li><a href="https://github.com/marcuswestin/store.js/" target="_blank">Store JS</a></li>
    </ul>

    <h4>Test Local Storage</h4>
    <ul>
        <li><a href="http://www.der-schepp.de/appcache-default-size/" target="_blank">Appcache Default Size Test</a></li>
        <li><a href="http://www.browserscope.org/user/tests/table/agt1YS1wcm9maWxlcnINCxIEVGVzdBjwwK0RDA?v=3&layout=simple" target="_blank">Browser Scope App Cache</a></li>
    </ul>

    <h4>Pouchdb</h4>
    <ul>
        <li><a href="http://pouchdb.com/" target="_blank">Pouchdb</a></li>
        <li><a href="http://codepen.io/DrYSG/pen/hpqoD" target="_blank">http://codepen.io/DrYSG/pen/hpqoD</a></li>
        <li><a href="http://stackoverflow.com/questions/16721312/using-pouchdb-as-an-offline-raster-map-cache" target="_blank">http://stackoverflow.com/questions/16721312/using-pouchdb-as-an-offline-raster-map-cache</a></li>
    </ul>
    

    <h3>File system</h3>
    <p>Uploads only: <a href="http://www.mobilexweb.com/blog/iphone-5-ios-6-html5-developers" target="_blank">http://www.mobilexweb.com/blog/iphone-5-ios-6-html5-developers</a></p>


    <h3>Geolocation</h3>
    <ul>
        <li><a href="https://code.google.com/p/geo-location-javascript/" target="_blank">geo-location-javascript</a></li>
        <li><a href="http://stackoverflow.com/questions/6797569/html5-geolocation-easiest-way-to-get-city-name" target="_blank">reverse geolocation</a></li>
        <li><a href="http://roman.tao.at/dev/iphone-dev/accurate-javascript-geolocation-with-current-mobile-browsers/" target="_blank">Accurate Geolocation</a></li>
        <li><a href="https://developers.google.com/maps/documentation/javascript/" target="_blank">Google Maps JavaScript API v3</a></li>
    </ul>

    <h3>Manifest</h3>
    <ul>
        <li><a href="http://www.html5rocks.com/en/tutorials/appcache/beginner/" target="_blank">App Cache</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Apps/Manifest" target="_blank">Manifest (MDN)</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/HTML/Using_the_application_cache" target="_blank">Using the application cache (MDN)</a></li>
        <li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/offline.html" target="_blank">http://www.whatwg.org/specs/web-apps/current-work/multipage/offline.html</a></li>
    </ul>


    <h3>Extra resourses</h3>
    <ul>
        <li><a href="http://slides.html5rocks.com/"
               target="_blank">Slides Html5rocks.com/</a></li>
        <li><a href="http://blogs.adobe.com/cantrell/archives/2011/11/building-an-offline-mobile-web-application.html"
               target="_blank">Building an Offline Mobile Web Application</a></li>
        <li><a href="http://www.mobilexweb.com/blog/iphone-5-ios-6-html5-developers" target="_blank">http://www.mobilexweb.com/blog/iphone-5-ios-6-html5-developers</a></li>
    </ul>





</section>
</div>
</div>