<div class="page" page>

<!--proxy = http://proxy.recif.nc:80-->

<div class="title">
    <h1>Extras</h1>
</div>

<div class="content">

<section id="Objective">
    <h3>Objective</h3>

    <p>Listing additional information and tools for mobile developments.</p>
</section>

<h3>For Developers</h3>

<section id="typescript">
    <h2>Typescript</h2>

    <blockquote><p>TypeScript is a language for application-scale JavaScript development.
        TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
        Any browser. Any host. Any OS. Open Source.</p></blockquote>

    <p class="me">Writing large application in Javascript has always been problematic, Typescript help to resolve these issues by
        providing a type check and other OOP construct to the language.</p>
    <ul>
        <li><a href="http://www.typescriptlang.org/" target="_blank">Typescriptlang</a></li>
    </ul>
</section>

<section id="odata">
    <h2>OData</h2>

    <blockquote><p>OData is a standardized protocol for creating and consuming data APIs. OData builds on core protocols like HTTP
        and commonly accepted methodologies like REST. The result is a uniform way to expose full-featured data
        APIs.</p></blockquote>
    <ul>
        <li><a href="http://www.odata.org/" target="_blank">OData</a></li>
    </ul>
</section>

<section id="datapersistence">
    <h2>Data Persistence Framework</h2>

    <p>These libraries helps with the management of the data (online/offline, track changes, rich queries)</p>
    <ul>
        <li><a href="http://breezejs.com" target="_blank">Breeze</a></li>
        <li><a href="http://jaydata.org" target="_blank">Jaydata</a></li>
    </ul>
</section>

<section id="datasynchronisation">
    <h2>Data Synchronisation</h2>

    <p>To enable synchronisation between the client and the server</p>
    <ul>
        <li>
            <a href="http://stackoverflow.com/questions/1744522/best-way-to-synchronize-local-html5-db-websql-storage-sqlite-with-a-server-2"
               target="_blank">Best way to synchronize local html5</a></li>
        <li><a href="http://www.symmetricds.org/" target="_blank">Symmetric DS/</a></li>
    </ul>
</section>

<section id="realtime">
    <h2>Real-time Library</h2>

    <p>To enable Real-time features in your app like a chat or push notification to clients</p>
    <ul>
        <li><a href="http://socket.io" target="_blank">Socket IO</a></li>
        <li><a href="http://pusher.com" target="_blank">Pusher</a></li>
    </ul>
</section>

<section id="packagemanagement">
    <h2>Front-end Package Management & Task Runner</h2>

    <p>Helps with automation like minification, concatenation, obfuscation and more...</p>
    <ul>
        <li><a href="https://github.com/bower/bower" target="_blank">Bower JS</a></li>
        <li><a href="http://gruntjs.com/" target="_blank">Grunt JS</a></li>
        <li><a href="http://yeoman.io/" target="_blank">Yeoman</a></li>
    </ul>
</section>

<section id="unittest">
    <h2>Unit Testing and Test Suites</h2>

    <blockquote><p>On the AngularJS team, we rely on testing and we always seek better tools to make our life easier. That's why we created
        Karma - a test runner that fits all our needs.</p></blockquote>
    <ul>
        <li><a href="http://karma-runner.github.io/0.8/index.html" target="_blank">Karma Runner</a></li>
        <li><a href="http://pivotal.github.io/jasmine/" target="_blank">Jasmine</a></li>
    </ul>
</section>

<h3>For Designers</h3>

<section id="cssPreprocessor">
    <h2>CSS Preprocessor</h2>

    <p>With all the prefixed CSS3 properties and the limited capabilities of the CSS language it is wise to use
        a CSS
        processing framework in your development workflow.</p>
    <ul>
        <li><a href="http://compass-style.org/" target="_blank">Compass</a></li>
        <li><a href="http://lesscss.org/" target="_blank">Less</a></li>
        <li><a href="http://compass-recipes.moox.fr/" target="_blank">Compass Recipes</a></li>
    </ul>
</section>

<section id="cssframework">
    <h2>CSS Frameworks</h2>

    <p>To speed up your workflow and homogenize your markup and styles you can use CSS Framework.</p>
    <ul>
        <li><a href="http://twitter.github.io/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
        <li><a href="http://gumbyframework.com/" target="_blank">Gumby</a></li>
        <li><a href="http://foundation.zurb.com/" target="_blank">Fondation</a></li>
        <li><a href="http://purecss.io/" target="_blank">Purecss</a></li>
        <li><a href="http://topcoat.io/" target="_blank">Topcoat</a></li>
    </ul>
</section>

<section id="fonts">
    <h2>Fonts</h2>

    <p>With all the prefixed CSS3 properties and the limited capabilities of the CSS language it is wise to use
        a CSS
        processing framework in your development workflow.</p>
    <ul>
        <li><a href="http://www.google.com/fonts/" target="_blank">http://www.google.com/fonts/</a></li>
        <li><a href="https://typekit.com/" target="_blank">https://typekit.com/</a></li>
    </ul>
</section>

<section id="icons">
    <h2>Icons</h2>

    <p>Free and paid icons resources</p>
    <ul>
        <li><a href="http://css-tricks.com/flat-icons-icon-fonts/" target="_blank">Icons</a></li>
        <li><a href="http://tympanus.net/codrops/2013/05/30/simple-icon-hover-effects/" target="_blank">Simple icon
            hover effects</a></li>
    </ul>
</section>

<section id="flatui">
    <h2>Interface Design Elements</h2>

    <p>For consitant rapid and elegant prototyping to implementation of interface design.</p>
    <ul>
        <li><a href="http://designmodo.com/flat/" target="_blank">Flat UI Designmodo</a></li>
        <li><a href="http://designmodo.com/the-bricks-addons/" target="_blank">The Bricks</a></li>
    </ul>
</section>

<section id="screensizes">
    <h2>Screen Sizes</h2>

    <p>A list of device sizes and pixel density to help with the declaration of media-queries.</p>
    <ul>
        <li><a href="http://screensiz.es/" target="_blank">screensiz.es</a></li>
    </ul>
</section>


<section id="upcoming">
<h2>Upcoming Frameworks</h2>
<p>These are mention to show what type of frameworks are currently in the making and popular.</p>

    <h3>Meteor</h3>
    <a href="http://www.meteor.com/" target="_blank">http://www.meteor.com</a>

    <blockquote><p>Meteor is an open-source platform for building top-quality web apps in a fraction of the time, whether
        you're
        an expert developer or just getting started.</p>
    </blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-ok"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>




    <h3>DerbyJS</h3>
    <a href="http://derbyjs.com/" target="_blank">http://derbyjs.com</a>

    <blockquote><p>MVC framework making it easy to write realtime, collaborative applications that run in both Node.js and
        browsers.</p>
    </blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-ok"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>


    <h3>Famous</h3>
    <a href="http://famo.us/" target="_blank">http://famo.us</a>

    <blockquote><p>40-60fps on phones, tablets, PCs, and televisions mod a template, or piece together components no
        plug-ins, no WebGL, no Canvas works on modern browsers everything is DOM 65KB footprint</p></blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-remove"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>




    <h3>Polymer</h3>
    <a href="http://polymer-project.org" target="_blank">http://polymer-project.org</a>

    <blockquote><p>Polymer is a new type of library for the web, built on top of Web Components, and designed to
        leverage the evolving web platform on modern browsers.</p></blockquote>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Frontend</th>
            <th>Backend</th>
            <th>D&D</th>
            <th>Component Library</th>
            <th>Deployment</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--Frontend-->
            <td><i class="icon-ok"/></td>

            <!--Backend-->
            <td><i class="icon-remove"/></td>

            <!--D&D-->
            <td><i class="icon-remove"/></td>

            <!--Comp Lib-->
            <td><i class="icon-ok"/></td>

            <!--Deployment-->
            <td><i class="icon-remove"/></td>

            <!--Language-->
            <td>HTML5</td>
        </tr>

        </tbody>
    </table>


</section>

</div>

</div>