<div class="nav pri-nav" data-ng-controller="PrimaryNavCtrl">
<ul>
    <li class="brand"><a href="#requirement"><span>Mobile
    Platform</span><br>Research</a></li>
    <li><a ng-class="dataModel.isPriNavActive('requirement')" class="divider" href="#requirement">Requirements</a></li>
    <li><a ng-class="dataModel.isPriNavActive('framework')" href="#framework">Frameworks</a></li>
    <li><a ng-class="dataModel.isPriNavActive('deployment')" href="#deployment">Deployments</a></li>
    <li><a ng-class="dataModel.isPriNavActive('reflection')" href="#reflection">Reflection</a></li>
    <li><a ng-class="dataModel.isPriNavActive('extra')" class="divider" href="#extra">Extras</a></li>
    <li><a ng-class="dataModel.isPriNavActive('prototype')" href="#prototype">Prototypes</a></li>
</ul>
</div>
