<div class="page" page>
    <div class="title">
        <h1>Reflection</h1>
    </div>
    <div class="content">
        <h4>These are my personel view and do not reflect the views of the DTSI.</h4>
        <!-- TODO Comparaison of code base...
          https://medium.com/make-your-own-apps/e71bcedc36b
            http://facebook.github.io/react/docs/tutorial.html
            todo-list vs YUI
            Peep code tune player etc...

            The time has come to jump in the SPA

            You can sprickel angular anywhere ( its well encapsulated ) and you can wrap any component to make it AngularJs Complient.

             explain the difference with the new component framwork shadowdom etc...-->
        </p>
    </div>
</div>