<div class="page" page>

    <div class="title">
        <h1>Requirements</h1>
    </div>
    <div class="content">
        <section id="objective">
            <h3>Objective</h3>

            <p>Establishing the requirements for the Mobile Solution of the DTSI.</p>
        </section>

        <section id="model" class="group model">
            <h2>Model</h2>

            <h3>Online / Offline Capabilities</h3>

            <p>
                The mobile application needs to be able to
                perform in Online and Offline mode.
            </p>
            <h4>Notes</h4>
            <ul>
                <li>Perform queries on local & remote DB seamlessly.</li>
                <li>Local DB to persist data and application presets.</li>
                <li>Integration with a remote synchronisation service.</li>
            </ul>

            <h3>Real-Time</h3>

            <p>
                The mobile solution needs to be able to
                provides services in real-time such as chats and notification systems.
            </p>

            <h3>Deep-Linking</h3>

            <p>
                The user would be able to send a URL pointing a particular resources in the app, and the receiver would
                open the app a that location on clicking on a link.
            </p>

            <h3>Hot-Fixes and Version Controls</h3>
            <p>
                In the case of a critical bug in the app, a mechanisms is available to push a "hot-fix", additionaly we have a way of pushing updates.
            </p>

            <h3>Data Collection</h3>
            <p>
                Keeping stats of uses, Geo info, etc... for data analysis.
            </p>

        </section>

        <section id="view" class="group view">
            <h2>View</h2>

            <h3>Component Toolkit</h3>

            <p>A rich list and echo system of reusable components needs to be available for the developement of mobile
                apps.</p>
            <h4>Notes</h4>
            <ul>
                <li>Capability to create own components with ease.</li>
                <li>Capability to extend current component set.</li>
            </ul>

            <h3>Multi Platform Deployments</h3>

            <p>By using the "Web Technologies" (Html, CSS, JS) we will access to the long dream of 'Write Once, Deploy
                Everywhere".</p>
            <h4>Platform of Deployments</h4>
            <ul>
                <li>IOS</li>
                <li>Android</li>
                <li>Windows 8 (to be discuss)</li>
            </ul>

            <h3>Rich and Responsive User Experience</h3>
            <p>The user experience should be as close as possible to the feel of a native app.</p>

            <h3>Adaptive Layout</h3>
            <p>The layout needs to be implemented in a way so that it work no matter what resolution of devices</p>

        </section>

        <section id="controller" class="group controller">
            <h2>Controller</h2>

            <h3>Authentication</h3>

            <p>Common Login/Logout feature.</p>

            <h3>Deep Integration with Device OS</h3>

            <p>It is required that the mobile app has access to many (potentially all) features provided by the device
                hard/soft ware.</p>
            <h4>Feature List: (not exhaustive)</h4>
            <ul>
                <li>Access to contacts</li>
                <li>Access to the GOE Position</li>
                <li>Able to take and save pictures</li>
                <li>Send/Receive Notification</li>
                <li>Send/Receive Email</li>
            </ul>

            <h3>User Role and Privileges</h3>
            <p>Based on the user role some application feature will be available or suppressed.</p>

            <h3>Menu Creation and Navigation</h3>
            <p>The solution should provide a simple way of orchestrating and navigates "to/from" views.</p>

            <h3>Searchable & Master-Details Views</h3>
            <p>The solution should have tools to perform rich queries and display Master-Details views.</p>

            <h3>CRUD (Create, Read, Update, Delete) Functionality</h3>
            <p>The Mobile apps need to be able to perform all CRUD operations and form validations.</p>

            <h3>Test Test Test</h3>
            <p>The Mobile apps should be coming with a test suite.</p>

            <h3>Deployments and Version Control</h3>
            <p>New release of apps should be published by a deploy script. (concatenation, minification, obfuscation)</p>
        </section>
    </div>
</div>





