<div class="page" page>
    <div class="title">
        <h1>Web Service</h1>
    </div>

    <div class="content">

        <section>
            <h3>Objective</h3>

            <p>Presenting web services and protocol of communication.</p>
            <h4>Questions</h4>
            <ul>
                <li>What backend should we use to integrate ?</li>
            </ul>

            <h4>Resources</h4>
            <ul>
                <li><a href="http://www.oracle.com/technetwork/developer-tools/apex/overview/index.html" target="_blank">Oracle Apex</a></li>
                <li><a href=" http://kingsfleet.blogspot.com/2010/01/little-bit-of-rest-with-oracle-adf.html" target="_blank">little-bit-of-rest-with-oracle-adf</a></li>
            </ul>

        </section>
    </div>
</div>


